PORT=4000
NODE_ENV=development

# Mediasoup Configuration
# Use 0.0.0.0 to listen on all network interfaces
MEDIASOUP_LISTEN_IP=0.0.0.0

# Set to 127.0.0.1 if testing only on localhost.
# Set to your Mac's local network IP (e.g., 10.62.138.198) if testing from a mobile phone or another device.
MEDIASOUP_ANNOUNCED_IP=147.139.190.210
